#contact
{
    padding:20px
}


.container
{
    position:sticky
    
}



.label
{
padding:2px;
font-size:large;
color:rgb(255, 255, 255);
background:rgb(185, 90, 154);
text-decoration: underline;
font-family:Helvetica, Sans-serif;
border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.copy-text
{
    position:relative;
    padding:10px;
    background:transparent;
    display:flex;

}

.copy-text input.text
{
    background:rgb(185, 90, 154);
    font-family:Helvetica, Sans-serif;
    color:rgb(255, 255, 255);
    border:none;
    font-size:large;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.copy-text button
{
    padding:5px;
    font-size:15px;
    border:none;
    cursor:pointer;
    background:rgb(185, 90, 154);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.copy-text button:hover
{
    color:rgb(235, 215, 233);
}
.copy-text button:active
{
    background:rgb(247, 80, 233);
}
.copy-text button:before
{
    content:"Copied";
    position:absolute;
    top:-45px;
    right:0px;
    background:rgb(244, 96, 232);
    padding:2px 2.5px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    display:none;
}
.copy-text.active button:before
{
 display:block;
}
.social-icon-table
{
    width:100%;
    text-align:right;
    
}


.social-icon
{
    color:rgb(235, 215, 233);
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    
    
}
.social-icon:hover
{
    color:rgb(92, 92, 92)
}

.column 
{
    float:left;
    padding:10px;
    position:relative
    
}

.column.side
{
    width:100%;
    position:relative
}


.column.middle 
{
    width:100%;
    position:relative
    
}

.row:after 
{
    content: "";
    display:table;
    clear:both;
   
    
}

.row
{
    height: fit-content;
    font-family:Helvetica, Sans-serif;
    width: 500px;
   text-align:justify;
   color:rgb(255, 255, 255);
}


